header {
    height: 25vh;
    display: flex;
    align-items: center;
    padding-left: 3%;
    padding-top: 3%;
    justify-content: space-between;
}

header .logo {
    height: 20vh;
}

.bem_vindo_btn {
    background-color: transparent;
    border: none;
    color: white;
    font-size: larger;
    box-shadow: 3rem;
    font-weight: bolder;
    letter-spacing: 0.2rem;
    cursor: pointer;
}

.modal {
    display: none;
}

.active {
    display: block;
}


dialog {
    background-color: transparent;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

#m1,
#m3 {
    padding-top: 8%;
}

.div_btn {
    width: 90vw;
    display: flex;
    align-items: center;
    padding: 8%;
    padding-bottom: 0;
    justify-content: space-between;
}

#firstbtn {
    justify-content: end;
}

.div_img {
    align-items: center;
    display: flex;
    justify-content: center;
}

.bemvindo {
    width: 350px;
}