@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;700&family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;700&family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Poppins:wght@200;500;700&family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');

:root {
  --main-bg-color: #CA9CFA;
  --primary-color: black;
  --secondary-color: darkgray;
}

*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: #CA9CFA;
}

*::-webkit-scrollbar-thumb {
  background-color: #CA9CFA;
  border-radius: 10px;
  border: 1px solid black;
}

h1 {
  color: black;
  font-family: 'Nunito', sans-serif;
  margin: 6px;
  font-size: 40px !important;
}

.main_div {
  max-width: 90vw;
  height: 70vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: auto;
}

#main_img img {
  width: 250px;
  padding: 10px;
  margin: 8px;
  margin-bottom: 20px;
}

#main_buttons div {
  padding: 3px;
}


#main_button {
  margin: 8px;
  width: 300px;
  height: 50px;
  border-radius: 22px;
  background-color: #F7D5FA;
  border: none;
  font-family: 'Nunito', sans-serif;
  font-size: medium;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  align-items: center;
}

#main_button:hover {
  cursor: pointer;
}

#main_button img {
  width: 30px;
}

.mainText {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 85vw;
  height: 50vh;
  padding: 5%;
  text-align: justify;
  font-size: medium;
  line-height: 2;
  font-family: 'Nunito', sans-serif;
}

#go-back,
#ico_info {
  cursor: pointer;
}

.main_button_div {
  display: flex;
  width: 300px;
  align-items: center;
  justify-items: center;
}

.main_button_text {
  width: 240px;
  border-right: solid 1px black;
}

.main_button_img {
  width: 60px;
}

.op {
  opacity: 40%;
}