@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Poppins:wght@200;500;700&family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');

*::-webkit-scrollbar {
    width: 7px;
}

*::-webkit-scrollbar-track {
    background: #CA9CFA;
}

*::-webkit-scrollbar-thumb {
    background-color: #CA9CFA;
    border-radius: 10px;
    border: 1px solid black;
}

#desafio {
    height: 70vh;
    overflow: auto;
    display: block;
    text-align: justify;
}

#saude_mental {
    height: 70vh;
    overflow: auto;
    display: block;
    text-align: justify;
}

#questao {
    height: 70vh;
    overflow: auto;
    display: block;
    text-align: justify;
}

#glossario {
    height: 70vh;
    display: block;
    overflow: auto;

    text-align: justify;
}

.nome {
    height: 10vh;
    padding: 3.5%;
    font-family: 'Nunito', sans-serif;
    font-size: larger;
    font-weight: bold;
}

.comando {
    font-size: medium;
    font-family: 'Nunito', sans-serif;
    padding-left: 2%;
    padding-right: 2%;
}

.link {
    font-size: medium;
    font-family: 'Nunito', sans-serif;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    font-style: italic;

}

.link a {
    color: blue;
}

.btn {
    width: 12vw;
    height: 6vh;
    border-radius: 10px;
    background-color: #F7D5FA;
    border: none;
    font-family: 'Nunito', sans-serif;
    font-size: smaller;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    align-items: center;
    margin-right: 1%;
    cursor: pointer;
}

.divBtn {
    padding: 2%;
}

.classLabel {
    padding: 0.5%;
    word-break: break-word;
    display: flex;
}

.img_ques {
    width: 50vw;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1rem;
}

.div_ref_main {
    margin-top: 5rem;
    padding: 1rem;
    font-family: 'Nunito', sans-serif;
    font-size: larger;
    font-weight: bold;
}

.div_ref {
    text-align: justify;
    padding: 2rem;
}

.div_ref p {
    padding: 1rem;
    font-family: 'Nunito', sans-serif;
    font-size: medium;
}

label {
    padding: 10px
}

.alt {
    padding: 0.5%;
    padding-left: 4%;
    padding-top: 1%;
    border-radius: 10px;
    display: flex;
    font-family: 'Nunito', sans-serif;
}

dialog {
    width: 40vw;
    margin: 0 auto;
    background-color: #F7D5FA;
    border: #ac70f9;
}

#modal p {
    font-family: 'Nunito', sans-serif;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    text-align: left;
    padding: 6px;
}

.btnM {
    width: 39vw;
    text-align: end;
}

#modalContent {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #F7D5FA;
    width: 39vw;
    height: 35vh;
    padding: 5px;
    text-align: justify;
    font-size: medium;
    line-height: 2;
    overflow: auto;
}

.btnModel {
    width: 8vw;
    height: 5vh;
    border-radius: 8px;
    background-color: #CA9CFA;
    border: none;
    font-family: 'Nunito', sans-serif;
    font-size: smaller;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    align-items: center;
    margin-right: 1%;
    cursor: pointer;
    margin: 4px;
}


.red+label {
    transition: all 0.5s ease-in-out;
    background-color: #FFBEBE !important;
    border: solid 1px #CB4D32;
    border-radius: 10px;
    padding: 5px;
    padding-right: 30px;
}

.green+label {
    transition: all 0.5s ease-in-out;
    background-color: #B8ECC3 !important;
    border: solid 1px #7BF600;
    border-radius: 10px;
    padding: 5px;
    padding-right: 30px;
}

.alt input {
    display: none;
}

.alt input+label::before {
    content: '';
    width: 13px;
    height: 13px;
    border-radius: 7px;
    background-color: transparent;
    border: solid 1px black;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    cursor: pointer;
}

.alt input:checked+label::before {
    background-color: black;
    box-sizing: border-box;
    border: none;
}