@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;700&family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Poppins:wght@200;500;700&family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');

.o_que_e {
    font-family: 'Nunito', sans-serif;
    font-size: x-large;
    font-weight: bold;
    color: black;
}


#titulo {
    width: 100vw;
    margin: solid 1px red;
    margin: 0 auto;
}

#div_text {
    font-size: medium;
    font-family: 'Nunito', sans-serif;
    padding: 2%;
    text-align: justify;
    line-height: 1.5;
    word-break: break-word;
}

.link {
    font-size: medium;
    font-family: 'Nunito', sans-serif;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    font-style: italic;

}

.link a {
    color: blue;
}

.div_o_que_e {
    justify-content: center;
    text-align: center;
    padding: 5%;
}

.img_o_que_e {
    max-width: 250px;
    cursor: pointer;
}

.div_o_que_e p {
    padding: 2%;
}

.title {
    font-size: large;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 4px;
    font-family: 'Nunito', sans-serif;
}


.btnM {
    width: 55vw;
    text-align: end;
    margin: 0 auto;
}

.btnModel {
    width: 8vw;
    height: 5vh;
    border-radius: 8px;
    background-color: #CA9CFA;
    border: none;
    font-family: 'Nunito', sans-serif;
    font-size: smaller;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    align-items: center;
    margin-right: 1%;
    cursor: pointer;
    margin: 4px;
}

.btnModel:hover {
    background-color: #DDBDFF;
}

#modal::backdrop {
    background-color: rgb(0, 0, 0 / .3);
}

#modal {
    text-align: center;
    border: none;
    border-radius: 3rem;
    box-shadow: 0 0 1rem rgb(0, 0, 0 / .3);
    width: 70%;
    height: 70%;
    margin: auto;

}

#modalContent img {
    width: 50vw;
}