body {
    background-color: aquamarine;
    text-align: center;
    justify-content: center;
}

.div {
    width: 50vw;
}

.imggg {
    width: 200px;
    cursor: pointer;
}

.btnM {
    width: 55vw;
    text-align: end;
    margin: 0 auto;
}

.btnModel {
    width: 8vw;
    height: 5vh;
    border-radius: 8px;
    background-color: #CA9CFA;
    border: none;
    font-family: 'Nunito', sans-serif;
    font-size: smaller;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    align-items: center;
    margin-right: 1%;
    cursor: pointer;
    margin: 4px;
}

.btnModel:hover {
    background-color: #DDBDFF;
}

dialog::backdrop {
    background-color: rgb(0, 0, 0 / .3);
}

dialog {
    text-align: center;
    border: none;
    border-radius: 3rem;
    box-shadow: 0 0 1rem rgb(0, 0, 0 / .3);
    width: 60%;

}

#modalContent img {
    width: 350px;
}